# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\CodeGym\TH_XapXepNoiBot\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
